node_modules
**/node_modules
.next
**/.next
out
**/out
target
.terraform
*.tfstate*
.env
.env.*
!.env.example
.dev.vars
build
.gleam
__pycache__
**/__pycache__
.venv
**/.venv
*.pyc
.DS_Store
ai/python/pb
